@model WrapperModel

<div class="text-center">
    <h1 class="display-4">@Model.NewCategory.Name</h1>
</div>

<div class="row justify-content-center">
    <div class="col-6" id="border">
        <h1>Products</h1>
        <ul class="list-group list-group-flush">
            @{
                foreach(var prod in Model.NewCategory.Products)
                {
                    <li class="list-group-item">@prod.Product.Name</li>
                }
            }
        </ul>
    </div>
    <div class="col-6">
        <h1>Add Product</h1>
        <div class="row">
            <div class="col-10 offset-1">
                <form action="/AttachProd/@Model.NewCategory.CategoryId" method="post">
                    <div class="form-group">
                        <select name="ProductId" class="form-control">
                            <option disabled selected value="">Select...</option>
                            @{
                                foreach(var prod in Model.AllProducts)
                                {
                                    <option value="@prod.ProductId">@prod.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <input type="submit" class="btn btn-outline-success" value="Add">
                </form>
            </div>
        </div>
    </div>
</div>